@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.active {
    background: #fff;
}

.main {
    position: relative;
}

.web-header {
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 68px;
    border-bottom: 1px solid #ffffff80;
    padding: 0 50px;
    transition: 0.5s;
}

.header-img-wrap {
    position: relative;
    width: 280px;
}

.web-header:hover {
    background: #fff;
}

.web-header:hover .hover-logo {
    display: block;
}

.web-header:hover .nav > li {
    color: #000;
}

.w-logo-img {
    width: 150px;
    height: 30px;
    position: absolute;
    top: -15px;
}

.hover-logo {
    display: none;
}

.nav {
    display: flex;
}

.nav > li {
    padding: 25px 30px;
    font-size: 18px;
    color: #ffffff80;
}

.lan {
    display: inline-block;
}

.lan > img {
    width: 18px;
    height: 18px;
}

select {
	appearance: none;
    background: none;
    border: none;
    z-index: 9999;
    width: 50px;
    margin-right: 20px;
}

.sign {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 25px;
}

.in {
    background: none;
    border: 1px solid #ca0000;
    margin-right: 5px;
    color: #ca0000;
    transition: 0.5s;
}

.in:hover {
    background: #ca0000;
    color: #fff;
    border: 1px solid #ca0000;
}

.up {
    background: #ca0000;
    color: #fff;
    border: 1px solid #ca0000;
    transition: 0.5s;
}

.up:hover {
    background: none;
    border: 1px solid #ca0000;
    color: #ca0000;
}

.payment-img {
    object-fit: cover;
    object-position: 70% 50%;
    height: 100vh;
    width: 100%;
}

figure > img {
    width: 460px;
    height: 100%;
}

.qr {
    width: 172px;
}

.payment-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    margin: 0 auto;
}

.payment-text > p {
    color: #fff;
}

.payment-title {
    /* padding-top: 128px; */
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: -1.2px;
    font-weight: 700;
}

.payment-sub-text {
    margin-bottom: 50px;
    font-size: 20px;
}

.red-btn {
    background: #ca0000;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    border: none;
    font-family: 'Noto Sans KR';
    border-radius: 10px;
    transition: 0.5s;
}

.main-btn {
    font-size: 16px;
}

.red-btn:hover {
    background: #a20202;
}

.section_1-2-3 {
    width: 1200px;
    margin: 0 auto;
}

.f-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.text-area {
    text-align: center;
    width: 500px;
    padding: 50px;
}

.title {
    font-size: 36px;
    margin-bottom: 30px;
    line-height: 1.21;
    letter-spacing: -1.8px;
    font-weight: 700;
}

.sub-text {
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: -.38px;
}

.f-d-c {
    flex-direction: row-reverse;
}

.blue-text-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-text-btn > a {
    color: #0d6ecf;
}

.blue-text-btn > img {
    width: 18px;
    height: 18px;
    margin-left: 9px;
}

.free-account-img {
    width: 600px;
}

.qr-figure {
    width: 600px;
    text-align: center;
    position: relative;
}

.qr-gray-back,
.qr-red-back {
    position: absolute;
    width: 200px;
    height: 80px;
    padding: 15px 10px 21px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qr-gray-back {
    background: #f7f7f7;
}

.qr-red-back {
    background: #ca0000;
}

.qr1 {
    top: 60px;
    left: 40px;
}

.qr2 {
    top: 50%;
    transform: translateY(-50%);
    left: 60%;
}

.qr2 > p {
    color: #fff;
}

.qr3 {
    top: 70%;
    left: 40px;
}

.qr-sub {
    color: #878787;
}

.text1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.text2 {
     font-size: 14px;
}

.world-free-start {
    background: #1e1e1e;
    position: relative;
    height: 548px;
}

.world-free-start > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
}

.world-free-start-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.font-white {
    color: #fff;
    text-align: center;
}

.business,
.inquiry {
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.inquiry {
    flex-direction: row-reverse;
    margin: 100px 0;
}

.business-text {
    width: 500px;
    height: 456px;
    width: 500px;
    margin: 0 50px 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inquiry-text {
    width: 500px;
    height: 456px;
    width: 500px;
    margin: 0 auto 0 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b-img-figure {
    width: 50%;
}

.b-img-figure > img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

footer {
    height: 216px;
    background: #f7f7f7;
    padding: 80px 0 120px 0;
}

.footer-mar {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-mar > p {
    font-size: 14px;
    color: #868686;
}

.footer-menu > ul {
    display: flex;
}

.footer-menu > ul > li {
    width: 120px;
    text-align: center;
}

.footer-menu > ul > li > a {
    font-size: 14px;
    color: #868686;
}

.footer-line {
    border-right: 1px solid #868686;
}